<template>
    <div>
        <h1>FooBarTory</h1>
        <div clas="warehouse">
            <h2>Warehouse</h2>
            <p>Nombre de robots: {{ $store.state.robots.length }}</p>
            <p>Nombre de foo: {{ $store.state.foo.length }}</p>
            <p>Nombre de bar: {{ $store.state.bar.length }}</p>
            <p>Nombre de foobar: {{ $store.state.foobar.length }}</p>
            <p>Nombre de foobar raté: {{ $store.state.fail.length }}</p>
            <p>Argent total: {{ $store.state.money }}</p>
        </div>
        <robot v-for="(robot, index) in $store.state.robots" :key="index" v-bind:index="index" />
    </div>
</template>

<script>
import robot from './robot';

export default {
    name: "app",
    components: {
        robot,
    },
}
</script>
