<template>
    <div class="robot">
        <h3>Robot {{index+1}}</h3>
        <p v-show="!activity && !changing">Aucune activité</p>
        <p v-show="changing">Change d'activité</p>
        <p v-show="!changing && activity === 'foo' || activity === 'bar'">Mine du {{activity}}</p>
        <p v-show="!changing && activity === 'foobar' ">Craft des foobar</p>
        <p v-show="!changing && activity === 'sell' ">Vend des foobar</p>
        <p v-show="!changing && activity === 'buy' ">Achète un robot</p>
        <button @click="minefoo()">Mine foo</button>
        <button @click="minebar()">Mine bar</button>
        <button @click="craftFooBar()">Crafter foobar</button>
        <button @click="sellFooBar()">Vendre foobar</button>
        <button @click="buyRobot()">Acheter robot</button>
        <button @click="stopActivity()">Arrêt</button>
    </div>
</template>

<script>
export default {
    name: "robots",
    props: ['index'],
    data() {
        return{
            activity: null,
            action: null,
            changing: false
        }
    },
    methods: {
        sellFooBar(){
            this.activity !== "sell" && this.changeActivity("sell").then(() => {
                this.action = setInterval(() => {
                    const { foobar } = this.$store.state;
                    if(foobar.length > 0) {
                        const toSell = foobar.length > 5 ? Math.floor(Math.random() * (5 - 1) + 1) : Math.floor(Math.random() * (foobar.length - 1) + 1);
                        const now = new Date();
                        this.$store.commit("addMoney", toSell);
                    } else {
                        this.stopActivity();
                        alert("Pas assez de foobar, veuillez en crafter d'abord");
                    }
                }, 3000)
            });
        },
        buyRobot() {
            this.activity !== "buy" && this.changeActivity("buy").then(() => {
                const { foo, money } = this.$store.state;
                if(foo.length > 1 && money >= 3) {
                    const toSell = Math.floor(Math.random() * (5 - 1) + 1);
                    const now = new Date();
                    this.$store.commit("createRobot");
                } else {
                    if(money < 3) alert("Pas assez d'argent, veuillez vendre des foobar d'abord.");
                    if(foo <= 1) alert("Pas assez de foo, veuillez miner d'abord");
                }
                this.stopActivity();
            });
        },
        minefoo() {
            this.activity !== "foo" && this.changeActivity("foo").then(() => {
                this.action = setInterval(() => {
                    const now = new Date();
                    this.$store.commit("addFoo", now.getTime());
                }, 1000)
            });
        },
        minebar() {
            const timeout = Math.floor(Math.random() * (2000 - 500) + 500);
            this.activity !== "bar" && this.changeActivity("bar").then(() => {
                this.action = setInterval(() => {
                    let now = new Date();
                    this.$store.commit("addBar", now.getTime());
                }, timeout)
            });
        },
        craftFooBar() {
            this.activity !== "foobar" && this.changeActivity("foobar").then(() => {
                this.action = setInterval(() => {
                    const res = Math.floor(Math.random() * (100 - 0) + 0);
                    const { foo, bar } = this.$store.state;
                    if(foo.length > 0 && bar.length > 0){
                        const now = new Date();
                        if(res >= 40) this.$store.commit("addFooBar");
                        else this.$store.commit("failFooBar");
                    } else {
                        this.stopActivity();
                        alert("Pas assez de composant, veuillez miner d'abord");
                    }
                }, 2000)
            });
        },
        changeActivity(activity) {
            this.changing = true;
            if(this.action){
                clearInterval(this.action);
                this.action = null;
            } 
            return new Promise((resolve, reject) => {
                setTimeout(() => {
                    this.changing = false;
                    this.activity = activity;
                    resolve();
                }, 500);
            });
        },
        stopActivity(){
            clearInterval(this.action);
            this.action = null;
            this.activity = null;
        }
    }
}
</script>

